<<<<<<< HEAD
.custom-clip {
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0 100%);
=======
header h1 {
  background: linear-gradient(90deg, #118c80 0%, #4ab7d8 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
>>>>>>> 64ffd4e2eac128462c2f42d26638c487fadd43a9
}
