.calendar2 > .fc .fc-button-primary:disabled,
.calendar2 > .fc .fc-toolbar-title {
  background-color: white;
  border-color: none;
  font-family: IRANYekan;
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.calendar2 > .fc-header-toolbar {
  display: flex;
  flex-direction: row;
}
.calendar2 > .fc .fc-toolbar {
  justify-content: start;
}
.calendar2 > .fc-toolbar-chunk {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
  gap: 4px;
}
.calendar2 > .fc-theme-standard td,
.calendar2 > .fc-theme-standard th {
  border: none;
}
.calendar2 > .fc .fc-col-header-cell-cushion {
  /* display: none; */
  padding: 2px 4px;
  font-family: "IranYekan";
  position: fixed;
  margin-right: 6px;
  padding-top: 0;
  color: #868e96;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.calendar2 > .fc-theme-standard .fc-scrollgrid {
  border: none;
}
.calendar2 > .fc .fc-daygrid-day.fc-day-today {
  border-radius: 5px;
}
.calendar2 > .fc .fc-view-harness-active > .fc-view {
  right: -30px;
}
.calendar2 > .fc .fc-daygrid-body {
  margin-top: 10px;
}
.calendar2 > .fc .fc-daygrid-day.fc-day-today {
  border: none !important;
}

.calendar2 > .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  padding: 5px 10px;
  position: relative;
  z-index: 4;
  border: 1px solid #208d8e;
  border-radius: 100px;
}
.calendar2 > .shadow-calendar {
  box-shadow: 0 12px 32px 0px rgba(0, 0, 0, 0.25);
}
.calendar2 > .border-top-calendar {
  border-top: 1px solid #e4e4e4;
}

.calendar2 > .fc .fc-toolbar.fc-header-toolbar {
  position: absolute;
  top: -65px;
  right: 0px;
}
