/* ========== Tailwind ========== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Font-face ========== */
@layer base {
  @font-face {
    font-family: IRANYekanThin;
    src: url(./assets/fonts/IRANYEKANTHINFANUM.TTF);
  }
  @font-face {
    font-family: IRANYekanRegular;
    src: url(./assets/fonts/IRANYEKANREGULARFANUM.TTF);
  }
  @font-face {
    font-family: IRANYekanMedium;
    src: url(./assets/fonts/IRANYEKANMEDIUMFANUM.TTF);
  }
  @font-face {
    font-family: IRANYekanBold;
    src: url(./assets/fonts/IRANYEKANBOLDFANUM.TTF);
  }
  @font-face {
    font-family: IRANYekanExtraBold;
    src: url(./assets/fonts/IRANYEKANEXTRABOLDFANUM.TTF);
  }
}

/* ========== Base-Style ========== */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  cursor: default;
  user-select: none;
}

h1 {
  background: linear-gradient(90deg, #118c80 0%, #4ab7d8 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}

label {
  user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}