/* ========== Tailwind ========== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Font-face ========== */
@layer base {
  @font-face {
    font-family: IRANYekanThin;
    src: url(./assets/Fonts/IRANYekanThinFaNum.ttf);
  }
  @font-face {
    font-family: IRANYekanRegular;
    src: url(./assets/Fonts/IRANYekanRegularFaNum.ttf);
  }
  @font-face {
    font-family: IRANYekanMedium;
    src: url(./assets/Fonts/IRANYekanMediumFaNum.ttf);
  }
  @font-face {
    font-family: IRANYekanBold;
    src: url(./assets/Fonts/IRANYekanBoldFaNum.ttf);
  }
  @font-face {
    font-family: IRANYekanExtraBold;
    src: url(./assets/Fonts/IRANYekanExtraBoldFaNum.ttf);
  }
}

/* ========== Base-Style ========== */
* {
  margin: 0;
  padding: 0;
}

body {

  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  cursor: default;
}

h1 {
  background: linear-gradient(90deg, #118c80 0%, #4ab7d8 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}
